.DS_Store
node_modules
/build
# Output
.output
.vercel
/.svelte-kit

# OS
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
memo.md
package-lock.json
__pycache__
target/